################################################################################
# We use Azure to run the full tests suites on Python 3.7 -> 3.11
# on Linux
################################################################################

jobs:
  - template: etc/ci/azure-posix.yml
    parameters:
      job_name: ubuntu24_cpython
      image_name: ubuntu-24.04
      python_versions: ["3.7", "3.8", "3.9", "3.10", "3.11"]
      test_suites:
        all: venv/bin/pytest -n 2 -vvs tests/
